/* 
акцент #998431;
главный цвет текста #FFFFFF;
вторичный цвет текста  #282828;
дополнительный цвет текста #000000;
вторичный фон #E6E3C4;

font-family: 'Playfair
 */
:root {
    --acent-color: #998431;
    --prime-color: #ffffff;
    --second-color: #282828;
    --cards-color: #000000;
    --second-bgc: #e6e3c4;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;

    margin: 0 auto;
    background-color: #bababa;
    color: var(--prime-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 display: block;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.container {
    width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.title {
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    margin-bottom: 30px;
}

.line {
    border: solid 1px var(--prime-color);
    background-color: var(--prime-color);
    width: 160px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.line-second {
    border: solid 1px var(--acent-color);
    background-color: var(--acent-color);
    width: 100%;
}

/* header */
.bg-img {
    padding-top: 30px;
    background-image: url("../img/bgc.jpg");
    background-size: cover;
}

.container.heder__wrap {
    padding: 0;
    margin-bottom: 451px;
}

.heder__adress {
    justify-content: space-between;
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 1.5;
}

.heder__adress>a {
    color: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
}

.contact-lists a {
    color: inherit;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
}

.contact-lists li:not(:last-child) {
    margin-right: 20px;
}

.navi {
    text-align: center;
    border-bottom: solid 2px #ffffff;
    border-top: solid 2px #ffffff;
}

.navi>li:not(:last-child) {
    border-right: solid 2px #ffffff;
}

.navi>li {
    min-width: 285px;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 13px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.navi a {
    color: inherit;
}

/* hero */
.wraper-hero {
    text-align: center;
}

.wraper-hero h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 80px;
}

.lists-btn {
    justify-content: center;
}

.lists-btn li:not(:last-child) {
    margin-right: 30px;
}

.btn {
    padding: 10px 30px;
    background-color: var(--acent-color);

    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--prime-color);
    text-transform: uppercase;
}

.wraper-description {
    background-color: var(--second-color);
}

.container .description {
    border: 3px solid #c4c4c4;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 190px;
    padding-right: 190px;
}

.container .description img {
    margin-bottom: 0px;
    display: block;
    margin: 0 auto;
}

.container .description p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--prime-color);
    margin-bottom: 50px;
}

/* Урожай Марселя */
.wraper-marsel {
    background-color: var(--second-bgc);
}

.container .line-second:first-child {
    margin-bottom: 60px;
}

.container .line-second:last-child {
    margin-top: 60px;
}

.wraper-marsel .flex {
    justify-content: space-between;
}

.cards-marsel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--second-color);
}

.marsel-description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cards-color);
}

.titel-marsel {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--cards-color);
}

.cards-marsel {
    width: 445px;
}

.description-card {
    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.cards-marsel .line-cards {
    width: 160px;
    margin-left: 0;
    margin-bottom: 30px;

    background-color: var(--second-color);
    border: solid 1px var(--second-color);
}

table {
    margin-bottom: 30px;

    border-collapse: collapse;
    border: solid 5px var(--second-bgc);
}

td {
    padding: 0;
    border: solid 1.5px var(--cards-color);
}

td:not(:first-child) {
    padding-left: 30px;
}

td:not(:last-child) {
    padding: 30px;
}

.table-row h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
}

.lists-photos>img {
    display: block;
    margin-bottom: 30px;
}

.list-photo {
    justify-content: space-between;
}

.list-photo img {
    display: block;
}

/* Запис на дегустацію */

.description.digustation {
    position: relative;
    padding-left: 285px;
    padding-right: 285px;
}

.description.digustation h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 490px;
    background-color: var(--second-color);
}

.description.digustation p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.lists-input {
    justify-content: space-between;
    margin-bottom: 40px;
}

.lists-input li {
    width: 255px;
}

.lists-input input {
    width: inherit;
    color: var(--prime-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
}

select {
    width: 300px;
    height: 20px;
}

.description.digustation input {
    border: none;
    border-bottom: solid 1px var(--prime-color);
    background-color: inherit;
}

.wraper-send select {
    background-color: inherit;
    color: var(--prime-color);
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--prime-color);
    margin-bottom: 50px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

option {
    color: var(--second-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
}

.btn-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 50px;
    background-color: inherit;
    border: solid 1px var(--prime-color);
    color: inherit;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

input {
    margin: 0;
    padding: 0;
}

.grape {
    position: absolute;
    transform: translate(-10%, -30%);
    top: 0;
    left: 0;
}

.barrel {
    position: absolute;
    transform: translate(10%, -30%);
    top: 0;
    right: 0;
}

/* footer */
.bgk-footer {
    background-color: var(--acent-color);
}

.bgk-footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.bgk-footer .container .line-second {
    background-color: var(--prime-color);
    border: solid 1px var(--prime-color);
    margin-bottom: 20px;
}

.navi-footer {
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.navi.flex {
    margin-bottom: 0;
    align-items: center;
    text-transform: uppercase;
}

.navi.flex>li p{ 
    font-weight: 600;
    font-size: 14px;
    line-height: 1.50;
    text-align: center;
}

.navi-footer a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
}

.icon {
    fill: var(--prime-color);
    width: 26px;
    height: 26px;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
}